link(href='/css/bootstrap/{{ theme }}.min.css', rel='stylesheet')
link(href='/css/font-awesome/font-awesome.min.css', rel='stylesheet')
link(href='/css/jquery/select2.css', rel='stylesheet')
link(href='/css/jquery/select2-bootstrap3.css', rel='stylesheet')
link(href='/css/layout.css', rel='stylesheet')