extends ../../frontend/theme/layout
block content
	.row(ng-controller='{{ schema | capitalize }}PublicController')
		h2 Dashboard {{ schema | capitalize }}s
		.col-md-4
			include form
		.col-md-8
			include grid
	script(src='/js/{{ schema | lower }}/{{ schema | capitalize }}PublicFactory.js', type='text/javascript', charset='utf-8').
	script(src='/js/{{ schema | lower }}/{{ schema | capitalize }}PublicController.js', type='text/javascript', charset='utf-8').