extends ../../frontend/theme/layout
block content
	.row(ng-controller='{{ schema | capitalize }}PublicController')
		h2 Dashboard {{ schema | capitalize }}s
		.col-md-4
			include form
		.col-md-8
			include grid
