.row
  .col-md-8
    .table-responsive
      table.table.table-striped(data-ng-init="query(); count();")
        thead
          tr
{%- for fieldName, field in fields %}
            th {{ field.label }}
{%- endfor %}
            th Actions         
        tbody
          tr(ng-repeat="item in items")
{%- for fieldName, field in fields %}
            td {{ '{{' }} item.{{ loop.key }} }}
{%- endfor %}
            td 
              button.btn.btn-primary.btn-xs.icon.icon-edit(type='button', ng-click='select($index); showWindow("createOrUpdate");') 
              | 
              button.btn.btn-danger.btn-xs.icon.icon-trash(type='button', ng-click='destroyByIndex($index); query(); count();') 
          tr
            td.text-right(colspan="0") Listing {{ '{{' }} statusData.listing }} {{ schema | lower }}s of {{ '{{' }} statusData.filtered }} filtered on {{ '{{' }} statusData.totality }} totality
          tr
            td(colspan="0") 
              button.btn.btn-default.btn-lg.btn-block(ng-click='queryMore(); count();') MORE
  .col-md-3.col-md-push-1
    h3 Filters
      form.form-horizontal(role='form')
        .form-group
          input.form-control(type='text', ng-model='filterData.name', placeholder='Name') 
        .form-group
          input.form-control(type='text', ng-model='filterData.username', placeholder='User Name')
        button.btn.btn-info(type='button', ng-click='filter(); count();') Filter